{% if site.data.profile.experience and site.data.profile.experience.size > 0 %}
<div class="my-3 bg-white shadow-sm rounded-xl">
    <h6 class="p-3 mb-0 border-bottom border-gray"><i class="fas fa-briefcase"></i> Experience</h6>
    <div class="px-3 pb-1 small">
        {% for item in site.data.profile.experience %}
        <div class="media py-2">
            <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 18px;" class="mr-2 mt-1">
            <div class="media-body">
                <div>{{ item.name }}</div>
                <div class="text-muted">{{ item.dept }}</div>
                <div class="d-flex">
                    <div>{{ item.position }}</div>
                    <div class="ml-auto mt-auto no-break"><em>{{ item.date }}</em></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% if site.data.profile.service and site.data.profile.service.size > 0 %}
<div class="my-3 bg-white shadow-sm rounded-xl">
    <h6 class="p-3 mb-0 border-bottom border-gray"><i class="fas fa-handshake"></i> Service</h6>
    <div class="px-3 pb-1 small">
        {% for item in site.data.profile.service %}
        <div class="py-2 d-flex">
            <div>{{ item.name }}</div>
            <div class="ml-auto mt-auto no-break text-muted"><em>{{ item.date }}</em></div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% if site.data.profile.outreach and site.data.profile.outreach.size > 0 %}
<div class="my-3 bg-white shadow-sm rounded-xl">
    <h6 class="p-3 mb-0 border-bottom border-gray"><i class="fas fa-bullhorn"></i> Outreach</h6>
    <div class="px-3 pb-1 small">
        {% for item in site.data.profile.outreach %}
        <div class="py-2 d-flex">
            <div>
                {{ item.name }}
                {% if item.description %}
                <div class="text-muted">{{ item.description }}</div>
                {% endif %}
            </div>
            <div class="ml-auto mt-auto no-break text-muted"><em>{{ item.date }}</em></div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% if site.data.profile.awards and site.data.profile.awards.size > 0 %}
<div class="my-3 bg-white shadow-sm rounded-xl">
    <h6 class="p-3 mb-0 border-bottom border-gray"><i class="fas fa-trophy"></i> Honors & Awards</h6>
    <div class="px-3 pb-1 small">
        {% for item in site.data.profile.awards %}
        <div class="py-2 d-flex">
            <div>{{ item.name }}</div>
            <div class="ml-auto mt-auto no-break text-muted"><em>{{ item.date }}</em></div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
